@font-face {
    font-family: OperatorMonoSSmLig Font !important;
    src: url(https://cdn.jsdmirror.com/gh/Innei/zshrc@0.1.0/webfont/OperatorMonoSSmLigNerdFontAAEOPSLMDI-Italic.woff2) format("woff2"),url(https://cdn.jsdmirror.com/gh/Innei/zshrc@0.1.0/webfont/OperatorMonoSSmLigNerdFontAAEOPSLMDI-Italic.woff) format("woff") !important;
    font-weight: 400 !important;
    font-style: italic !important
}
@font-face {
        font-family: 'OperatorMonoSSmLig Font';
        src: url(https://cdn.jsdmirror.com/gh/Innei/zshrc@0.1.0/webfont/OperatorMonoSSmLigNerdFontAAEOPSLMDI-Italic.woff2) format("woff2"),url(https://cdn.jsdmirror.com/gh/Innei/zshrc@0.1.0/webfont/OperatorMonoSSmLigNerdFontAAEOPSLMDI-Italic.woff) format("woff") !important;
        font-weight: 400;
        font-style: italic;
}
.font-mono {
  font-family: LXGW WenKai Screen !important
}
code,kbd,pre,samp {
    font-family: LXGW WenKai Screen !important;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em
}
.\[\&_\*\]\:\!font-mono * {
  font-family: LXGW WenKai Screen !important
}

@font-face {
    font-family: Operator Mono !important;
    src: url(https://cdn.jsdmirror.com/gh/Innei/zshrc@0.1.0/webfont/OperatorMonoSSmLigNerdFontAAEOPSLMDI-Italic.woff2) format("woff2"),url(https://cdn.jsdmirror.com/gh/Innei/zshrc@0.1.0/webfont/OperatorMonoSSmLigNerdFontAAEOPSLMDI-Italic.woff) format("woff") !important;
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Operator Mono !important;
    src: url(https://cdn.jsdmirror.com/gh/Innei/zshrc@0.1.0/webfont/OperatorMonoSSmLigNerdFontAAEOPSLMDI-Book.woff2) format("woff2"),url(hhttps://cdn.jsdmirror.com/gh/Innei/zshrc@0.1.0/webfont/OperatorMonoSSmLigNerdFontAAEOPSLMDI-Book.woff) format("woff") !important;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: JetBrains Mono1 !important;
    src: url(https://fonts.googleapis.cn/css2?family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap),url(https://fonts.googleapis.cn/css2?family=Fira+Code:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap) !important;
    font-weight: 400;
    font-style: normal
}
body {
    font-family: "LXGW WenKai Screen", sans-serif !important;
}
html[data-theme='light'] :root,
html[data-theme='light'] [data-theme] {
    background-color: transparent;
}
html[data-theme='dark'] :root,
html[data-theme='dark'] [data-theme] {
    background-color: var(--fallback-b1, oklch(var(--b1) / 1));
}
html[data-theme='dark'].noise body::before {
    background-image: url(https://img.xjh.me/random_img.php?type=bg&ctype=acg&return=302)!important;
    opacity: 0.1;
    background-size: cover;
}
html[data-theme='light'].noise body::before {
    background-image: url(https://img.xjh.me/random_img.php?type=bg&ctype=acg&return=302)!important;
    opacity: 0.3;
    background-size: cover;
}
